.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.info-box {  
    border-style: solid;
    border-width: 1px; 
    border-color: #dddddd;
    margin: 10px;
    border-radius: 5px;
}

.parent-info{
    display: flex;
}

#introduction-box { 
    display: inline-block;
    width: 200px; 
}

#help-box { 
    display: inline-block;
    width: 825px; 
}

h2, h3, h4, ul { 
    font-family: Arial, Helvetica, sans-serif; 
}

ul{
    list-style-type: none;
    line-height: 10px;
}

h2{
    font-weight: 400;
}

h3 { 
    font-size: 1em; 
    font-weight: 500; 
}

#second-header{
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: 500;   
}

#filestructure{
    padding: 10px;
}

#finder{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.key-header{
    background-color: #F5F5F5;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.key-body{
    padding: 20px;
}

.help-header{
    background-color: #F5F5F5;
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.help-body{
    padding: 20px;
}

#user_select_button.ui-button ui-widget ui-corner-all{
    color: rgb(9, 255, 0);
}

#explanation_text{
    display: inline-block;
    font-size: 1.2em;
    word-wrap: break-word;
}

#explanation_info{
    color: red;
    word-wrap: break-word;
}

.new_dialog{
    width: 50%;
}