.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.info-box { 
    padding: 20px; 
    border-style: solid;
    border-width: 2px; 
    border-color: #dddddd;
    margin: 20px; 
}

#introduction-box { 
    width: 150px; 
}

#help-box { 
    width: 550px; 
}

h2, h3 { 
    font-family: Arial, Helvetica, sans-serif; 
}

h3 { 
    font-size: 1em; 
    font-weight: 500; 
}

#filestructure{
    padding: 10px;
}

#finder{
    padding: 20px;
}

#user_select_button.ui-button ui-widget ui-corner-all{
    color: rgb(9, 255, 0);
}

#explanation_text{
    display: inline-block;
    font-size: 1.2em;
}

#explanation_info{
    color: red;
}

.new_dialog{
    width: 50%;
}